<% content_for :title do %>
  Tourlette - Select your destiny
<% end %>

<div class="wrapper push-top cf">
	<h1 id="logo" class="push"><a href="/"> <img src="<%= image_path('logo.png')%>" alt=""></a></h1>
	<div class="title-head">
		<span class="step-title right">Select your destiny</span>
		<span class="number-bullet right">03</span>
	</div>
</div>

<div id="map">
	<iframe  height="680" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=es-419&amp;geocode=&amp;q=Barranquilla,+Atl%C3%A1ntico,+Colombia&amp;aq=0&amp;oq=barranquilla&amp;sll=37.0625,-95.677068&amp;sspn=63.512641,153.984375&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=Barranquilla,+Atl%C3%A1ntico,+Colombia&amp;ll=10.98611,-74.77028&amp;spn=5.019947,9.624023&amp;z=8&amp;output=embed"></iframe><br />
</div>

<div class="wrapper v-island-big aligncenter">
	
		<div class="copy-block">
			<p class="lead">Lorem ipsum dolor sit amet, platonem evertitur cum ex, quo decore commodo ex. </p>
		</div>
		<div class="copy-block">
			<p class="lead">Lorem ipsum dolor sit amet, platonem evertitur cum ex, quo decore commodo ex. </p>
		</div>
		<div class="copy-block">
			<p class="lead">Lorem ipsum dolor sit amet, platonem evertitur cum ex, quo decore commodo ex. </p>
		</div>

</div>

<div id="pic-site">
	<div class="pics-module">
		<div class="module">
			<div id="item1" class="item">
				<div class="next-btn"></div>
				<div class="media">
					<div class="img">
						<img src="<%= image_path('icons/top-marker.png') %>" alt="">
					</div>
					<div class="body">
						<hgroup>
							<h3>Barranquilla (Atlantico)</h3>
							<h4>“La puerta de oro de Colombia”</h4>
						</hgroup>
						<div class="sep"></div>
						<p class="lead">Lorem ipsum dolor sit amet, platonem evertitur cum ex, quo decore commodo ex. Pro porro nonumy facilis ne, ea duo veri officiis efficiantur. Cu sea ancillae assentior, quidam omnium invenire mei id. Graeco percipit eos te, at primis epicuri democritum sed.</p>
						<span class="top-route">Top Route</span>
						<div class="stars no-rate right"></div>
						<ul class="route cf push">
							<li>
								<div class="image"><img class="img-circle" src="<%= image_path('misc/route-sample1.jpg')%>" alt=""></div>
								<span class="arrow"></span>
								<div class="place_info"><span class="place">Bocas de ceniza</span><span class="address">Calle 2, No. 32-21</span></div>
							</li>
							<li>
								<div class="image"><img class="img-circle" src="<%= image_path('misc/route-sample2.jpg')%>" alt=""></div>
								<span class="arrow"></span>
								<div class="place_info"><span class="place">Bocas de ceniza</span><span class="address">Calle 2, No. 32-21</span></div>
							</li>
							<li>
								<div class="image"><img class="img-circle" src="<%= image_path('misc/route-sample3.jpg')%>" alt=""></div>
								<span class="arrow"></span>
								<div class="place_info"><span class="place">Bocas de ceniza</span><span class="address">Calle 2, No. 32-21</span></div>
							</li>
							<li>
								<div class="image"><img class="img-circle" src="<%= image_path('misc/route-sample4.jpg')%>" alt=""></div>
								<div class="place_info"><span class="place">Bocas de ceniza</span><span class="address">Calle 2, No. 32-21</span></div>
							</li>
						</ul>
						<div class="sep"></div>
						<div class="stars no-rate right"></div>
						<ul class="route cf push">
							<li>
								<div class="image"><img class="img-circle" src="<%= image_path('misc/route-sample1.jpg')%>" alt=""></div>
								<span class="arrow"></span>
								<div class="place_info"><span class="place">Bocas de ceniza</span><span class="address">Calle 2, No. 32-21</span></div>
							</li>
							<li>
								<div class="image"><img class="img-circle" src="<%= image_path('misc/route-sample2.jpg')%>" alt=""></div>
								<span class="arrow"></span>
								<div class="place_info"><span class="place">Bocas de ceniza</span><span class="address">Calle 2, No. 32-21</span></div>
							</li>
							<li>
								<div class="image"><img class="img-circle" src="<%= image_path('misc/route-sample3.jpg')%>" alt=""></div>
								<span class="arrow"></span>
								<div class="place_info"><span class="place">Bocas de ceniza</span><span class="address">Calle 2, No. 32-21</span></div>
							</li>
							<li>
								<div class="image"><img class="img-circle" src="<%= image_path('misc/route-sample4.jpg')%>" alt=""></div>
								<div class="place_info"><span class="place">Bocas de ceniza</span><span class="address">Calle 2, No. 32-21</span></div>
							</li>
						</ul>

					</div>
				</div>
			</div>
			<div id="item2" class="item">
				<div class="tiny-feed">

			<div class="media normal">
				<div class="img rounded">
					<img class="img-circle" src="<%= image_path('misc/user-pic-tiny.jpg')%>" alt="">
				</div>
				<div class="body-visible arrow_box">
					<div class="body-head">
						<span class="like-icon"></span>
						<span class="likes">9</span>
						<span class="name">Pedro Fernandez</span>
						<span class="date">12/23/12</span>
					</div>
					<p>Lorem ipsum dolor sit amet, platonem evertitur cum ex, quo decore commodo ex.</p>
				</div>
			</div>

			<div class="media inverse">
				<div class="img rounded">
					<img class="img-circle" src="<%= image_path('misc/user-pic-tiny.jpg')%>" alt="">
				</div>
				<div class="body-visible arrow_box">
					<div class="body-head">
						<span class="like-icon"></span>
						<span class="likes">9</span>
						<span class="name">Pedro Fernandez</span>
						<span class="date">12/23/12</span>
					</div>
					<p>Lorem ipsum dolor sit amet, platonem evertitur cum ex, quo decore commodo ex.</p>
				</div>
			</div>

			<div class="media normal">
				<div class="img rounded">
					<img class="img-circle" src="<%= image_path('misc/user-pic-tiny.jpg')%>" alt="">
				</div>
				<div class="body-visible arrow_box">
					<div class="body-head">
						<span class="like-icon"></span>
						<span class="likes">9</span>
						<span class="name">Pedro Fernandez</span>
						<span class="date">12/23/12</span>
					</div>
					<p> <img src="<%= image_path('misc/place-sample.png') %>" alt=""> </p>
				</div>
			</div>


		</div>
			</div>
		</div>
	</div>
</div>

<% content_for :javascript do %>
  <script>
    $(function(){

    });
  </script>
<% end %>