<% content_for :title do %>
  Tourlette
<% end %>

<div class="landing-content">
	<div class="presentation">
		<div class="wrapper">
			<div class="content">
	<h1 id="logo"><a href="/"> <img src="<%= image_path('landing-logo.png')%>" alt=""></a></h1>
	<h2>Start Now!</h2>
  <p class="lead clear">Lorem ipsum dolor sit amet, platonem evertitur cum ex, quo decore commodo ex. Pro porro nonumy facilis ne, ea duo veri officiis efficiantur. Cu sea ancillae assentior</p>
  <a href="" class="fb-btn"><span class="icon facebook"><img src="<%= image_path('buttons/facebook_bg.png')%>" alt=""><div class="text-facebook">Connect with Facebook</div></span> </a>
  </div>
  </div>

  <div id="myCarousel" class="carousel slide">
	  <div class="carousel-inner">
	    <div class="active item"><img src="<%= image_path('misc/image_landing.jpg')%>" alt=""></div>
	  </div>
	 	</div>
	</div>
	<div class= "content-top clearfix">
		<div class="wrapper">
		<div class="airfare-icon"> <img src="<%= image_path('icons/airfare-icon.png')%>" alt=""> </div>
<div class="airfare-lead">“Lorem ipsum dolor sit amet, platonem evertitur cum ex, quo decore commodo ex. ”</div>

	</div>
</div>

<div class="wrapper v-island-big aligncenter">


  
    <div class="top-block-landing_1">
      <ul class="top-content-preview">
                <li>
                  <span class="lead">Lorem ipsum dolor sit amet, platonem</span>
                   </li>                                  
              </ul>

    </div>
    <div class="top-block-landing_2">   
 <img src="<%= image_path('misc/mac-preview.png')%>" alt="">
    </div>

      <div class="top-block-landing_3">   
<h1>Lorem Ipsum</h1>

<p>Lorem ipsum dolor sit amet, platonem evertitur cum ex, quo decore commodo ex. </p>
<p>Pro porro nonumy facilis ne, ea duo veri officiis efficiantur. Cu sea ancillae assentior,</p>
    </div>

</div>


		<div class="wrapper">
<p class="title">Our ventages</p>

<div class="wrapper v-island-big aligncenter">


	
		<div class="bottom-block-landing">
			<ul class="our-ventages">
                <li>
                  <span class="lead">Lorem ipsum dolor sit amet, platonem evertitur cum ex, </span>
                   </li>   
                    <li>
                  <span class="lead">Lorem ipsum dolor sit amet, platonem evertitur cum ex, </span>
                   </li>   
                    <li>
                  <span class="lead">Lorem ipsum dolor sit amet, platonem evertitur cum ex, </span>
                   </li>                
              </ul>

		</div>
		<div class="bottom-block-landing">
			<ul class="our-ventages">
                <li>
                  <span class="lead">Lorem ipsum dolor sit amet, platonem evertitur cum ex, </span>
                   </li>   
                    <li>
                  <span class="lead">Lorem ipsum dolor sit amet, platonem evertitur cum ex, </span>
                   </li>   
                    <li>
                  <span class="lead">Lorem ipsum dolor sit amet, platonem evertitur cum ex, </span>
                   </li>                
              </ul>

		</div>

</div>
</div>

</div>
<p class="aligncenter">
	<img src="<%= image_path('misc/sponsors.png') %>" alt="">
</p>

<% content_for :javascript do %>
  <script>
    $(function(){

    });
  </script>
<% end %>