<% content_for :title do %>
  Tourlette - Play
<% end %>

<div id="playground" class="cover">
	<div class="wrapper cf">
		<h1 id="logo" class="push"><a href="/"> <img src="<%= image_path('logo.png')%>" alt=""></a></h1>
		<div class="title-head">
			<span class="step-title right">Play Tourlette</span>
			<span class="number-bullet right">04</span>
		</div>
	</div>
	<div class="intro-div aligncenter">
		<h2>It's time to play</h2>
		<p class="lead bigpush">
			Lorem ipsum dolor sit amet, platonem evertitur cum ex, quo decore commodo ex. Pro porro nonumy facilis ne, ea duo veri officiis efficiantur. 
		</p>
		<a class="play-roulette"> <span>Play Tourlette</span> </a>
	</div>
	<div class="main-roulette">
		<div class="wrapper">
			<div class="play-holder aligncenter bigpush">
				<div class="play-action">
					<a class="play-btn"><span></span> </a>
				</div>
				<img src="<%= image_path('misc/stripe.png')%>" alt="">
			</div>
			
			<ul class="route cf push">
				<li>
					<div class="image"><img class="img-circle" src="<%= image_path('misc/place-empty.png')%>" alt=""></div>
					<span class="arrow"></span>
				</li>
				<li class="selected">
					<div class="image"><img class="img-circle" src="<%= image_path('misc/route-sample2.jpg')%>" alt=""></div>
					<span class="arrow"></span>
					<div class="close-icon"></div>
				</li>
				<li class="selected">
					<div class="image"><img class="img-circle" src="<%= image_path('misc/route-sample2.jpg')%>" alt=""></div>
					<span class="arrow"></span>
					<div class="close-icon"></div>
				</li>
				<li class="selected">
					<div class="image"><img class="img-circle" src="<%= image_path('misc/route-sample2.jpg')%>" alt=""></div>
					<span class="arrow"></span>
					<div class="close-icon"></div>
				</li>
				<li>
					<a id="done" href="#step3" role="button" data-toggle="modal"><img src="<%= image_path('misc/done.png') %>" alt=""> </a>
				</li>
				
			</ul>
			<div id="suggested-places" class="cf">
				
				<div class="random-place">
					<a class="added" href=""><img src="<%= image_path('misc/added.png') %>" alt=""> </a>
					<div class="pic">
						<img src="<%= image_path('misc/random-place.jpg') %>" alt="">
					</div>
					<div class="rating"></div>
					<span class="placename">Catedral</span>
					<span class="placeaddress">Calle 76 No 54-180</span>
					<span class="placemail">info@place.com</span>
					<label class="add-place"><input type="checkbox"><span>Add</span></label>
				</div>

				<div class="random-place">
					<a class="added" href=""><img src="<%= image_path('misc/added.png') %>" alt=""> </a>
					<div class="pic">
						<img src="<%= image_path('misc/random-place.jpg') %>" alt="">
					</div>
					<div class="rating"></div>
					<span class="placename">Catedral</span>
					<span class="placeaddress">Calle 76 No 54-180</span>
					<span class="placemail">info@place.com</span>
					<label class="add-place"><input type="checkbox"><span>Add</span></label>
				</div>

				<div class="random-place">
					<a class="added" href=""><img src="<%= image_path('misc/added.png') %>" alt=""> </a>
					<div class="pic">
						<img src="<%= image_path('misc/random-place.jpg') %>" alt="">
					</div>
					<div class="rating"></div>
					<span class="placename">Catedral</span>
					<span class="placeaddress">Calle 76 No 54-180</span>
					<span class="placemail">info@place.com</span>
					<label class="add-place"><input type="checkbox"><span>Add</span></label>
				</div>

				<div class="random-place">
					<a class="added" href=""><img src="<%= image_path('misc/added.png') %>" alt=""> </a>
					<div class="pic">
						<img src="<%= image_path('misc/random-place.jpg') %>" alt="">
					</div>
					<div class="rating"></div>
					<span class="placename">Catedral</span>
					<span class="placeaddress">Calle 76 No 54-180</span>
					<span class="placemail">info@place.com</span>
					<label class="add-place"><input type="checkbox"><span>Add</span></label>
				</div>

				<div class="random-place">
					<a class="added" href=""><img src="<%= image_path('misc/added.png') %>" alt=""> </a>
					<div class="pic">
						<img src="<%= image_path('misc/random-place.jpg') %>" alt="">
					</div>
					<div class="rating"></div>
					<span class="placename">Catedral</span>
					<span class="placeaddress">Calle 76 No 54-180</span>
					<span class="placemail">info@place.com</span>
					<label class="add-place"><input type="checkbox"><span>Add</span></label>
				</div>

				<div class="random-place">
					<a class="added" href=""><img src="<%= image_path('misc/added.png') %>" alt=""> </a>
					<div class="pic">
						<img src="<%= image_path('misc/random-place.jpg') %>" alt="">
					</div>
					<div class="rating"></div>
					<span class="placename">Catedral</span>
					<span class="placeaddress">Calle 76 No 54-180</span>
					<span class="placemail">info@place.com</span>
					<label class="add-place"><input type="checkbox"><span>Add</span></label>
				</div>

			</div>
		</div>
	</div> <!-- end main-roulette -->
</div>

<!-- Modal -->
	<div class="modal" id="step3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	  <div class="modal-body aligncenter">
	    <hgroup>
	    	<h2>Step 3 Completed</h2>
	    	<h3>(Play Tourlette)</h3>
	    </hgroup>
	    <img src="<%= image_path('misc/step3.png')%>" alt=""><br>
	    <p>Great, now give a name to your route:</p>
	    <input type="text" class="text">
	    <a href="" class="btn-red push-top">Go to Travel Activity</a>
	  </div>
	  
	</div>


<% content_for :javascript do %>
  <script>
    $(function(){
    	$('.play-roulette').on('click', function(){
    		$('#playground .intro-div').fadeOut('fast',function(){
    			$('#playground .main-roulette').fadeIn();
    		});
    		$('#playground').removeClass('cover');

    	});

    	$('label.add-place input').on('click', function(){
    		console.log('click');
    		$(this).parents('.random-place').toggleClass('selected');
    	});

    });
  </script>
<% end %>